!!! 5
%html{ lang: 'en' }
	%head
		%meta{ charset: 'utf-8' }
		%meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }

		%title= current_page.data.title

	%body{ style: "margin: 0; padding: 0;" }

		= yield

		= partial 'shared/footer-mandrill'

