---
layout: email
title: Welcome
type: transactional
category: onboarding
statsDate: 7/17/15
statOpenRate: 57.6%
statClickRate: 6.9%

cHdrBg: "#ffffff"
cHdrLink: "#27abc9"
cHdrText: "#37a381"

cFtrBg: "#2d3033"
cFtrLink: "#aebdc1"
cFtrText: "#aebdc1"

cBg: "#f9f9f9"
cLink: "#278998"
cText: "#585a5b"
cTitle: "#4d4f50"

tFamily: "'Open Sans', Verdana, Helvetica, Arial, sans-serif"

tracker: "?utm_medium=email&utm_campaign=welcome&utm_source=mailchimp&utm_content=null"
---

- # Sets a local variable to shorten calls to 'e'
- e = current_page.data

-# =====================================
-#   Email Sass
-# =====================================
:sass

  // Import Base Styles
  @import 'email'

  // Catch-all for added links in the footer
  .footer a
    color: #{e.cFtrLink}

-# =====================================
-#   Wrapper - Email
-# =====================================

%table{ tbl_reset, bgcolor: "#{e.cBg}", width: "100%" }
  %tr
    %td{ align: 'center', style: 'padding: 40px 20px 48px 20px;' }

      -# ====================================
      -#   Content Container
      -# ====================================

      %table.flex-size{ tbl_reset, align: 'center' }

        %tr
          %td{ style: 'font-size: 0;' } &nbsp;

          %td{ width: '480' }

            -# ====================================
            -#   Content
            -# ====================================

            %table{ tbl_reset, width: "100%" }
              %tr
                %td.text{ style: "color: #{e.cText}; font-family: #{e.tFamily}; font-size: 16px; line-height: 24px;" }

                  Content, yo.

          %td{ style: 'font-size: 0;' } &nbsp;
